/* Copyright 2018 Ronald Jensen */

.game_table{
	border: 5px solid black;
	margin: 2rem;
	padding: 1rem;
	overflow: hidden;
	width: 90%;
	height: 60%;
}
.game_td {
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 500%;
	background-color: #f0f0f0;
	width: 20%;
}
.game_input {
	width: 100%;
	font-size: 100%;
}
.button_row {
	text-align: center;
}
/* From Bootstrap */
.btn { 
	display : inline-block;
	width: 6rem;
	font-weight : 400;
	text-align : center;
	white-space : nowrap;
	vertical-align : middle;
	user-select : none;
	border : transparent solid 1px;
	padding : 0.375rem 0.75rem;
	font-size : 5rem;
	line-height : 1.5;
	border-radius : 0.25rem;
	transition : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}